examenddl.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >


            <xs:element name="resultados">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id_aspirante" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
            </xs:element>


            <xs:element name="aspirante">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer"/>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="apellidos" type="xs:string"/>
                        <xs:element name="DNI" type="xs:string"/>
                        <xs:element name="telefono" type="xs:string"/>
                        <xs:element name="direccion" type="xs:string"/>
                        <xs:element name="fechanacimiento" type="xs:string"/>
                        <xs:element name="Dan" type="xs:string"/>
                        <xs:element name="cinturon" type="xs:string"/>
                        <xs:element name="fecha_ingreso_Dan" type="xs:string"/>
                        <xs:element name="fotoAspirante" type="xs:string"/>
                        <xs:element name="tiempo_Dan_Anterior" type="xs:string"/>
                        <xs:element name="fotoDNI" type="xs:string"/>
                        <xs:element name="fotoCarnetGrados" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="meritos">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="id_aspirante" type="xs:integer"/>
                    <xs:element name="edad_aspirante" type="xs:integer"/>
                    <xs:element name="licenciaActualizada" type="xs:boolean"/>
                    <xs:element name="trabajoEscrito" type="xs:boolean"/>
                    </xs:sequence>
                 </xs:complexType>
            </xs:element>



            <xs:element name="convalidacion_Grados">
            <xs:complexType>
                    <xs:sequence>
                    <xs:element name="id_aspirante" type="xs:integer"/>
                     </xs:sequence>
            </xs:complexType>
            </xs:element>



            <xs:element name="requisitosAspirantes">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="solicitudHasta3Dan" type="xs:boolean"/>
                <xs:element name="danySuperiorCurriculum" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            </xs:element>        




            <xs:element name="dispensaMedica">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="id_aspirante" type="xs:integer"/>
                    </xs:sequence>
            </xs:complexType>
            </xs:element>



            <xs:element name="jueces">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="id_aspirante" type="xs:integer"/>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="apellidos" type="xs:string"/>
                    <xs:element name="diplomaJuez" type="xs:boolean"/>
                    </xs:sequence>
            </xs:complexType>
            </xs:element>



            <xs:element name="criterio_Valoracion">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="indumentaria" type="xs:integer"/>
                    <xs:element name="aseoPersonal" type="xs:integer"/>
                    <xs:element name="ejecucionTecnica" type="xs:integer"/>
                    <xs:element name="valores" type="xs:integer"/>
                    <xs:element name="respuestas" type="xs:integer"/>
                </xs:sequence>
             </xs:complexType>
            </xs:element>
        
        
        
        
            <xs:element name="tribunal">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="numerojueces" type="xs:integer"/>
                    <xs:element name="calificacion_final" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="abonarCuota">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="id_aspirante" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="suspenderExamen">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer"/>
                        <xs:element name="suspenderParcial" type="xs:boolean"/>
                        <xs:element name="suspenderTotal" type="xs:boolean"/>
                        <xs:element name="suspenderSegundaFase" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="QuintoDanySuperior">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Coloquio" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>





            <xs:element name="Hasta3erDan">
                <xs:complexType>
                     <xs:sequence>
                        <xs:element name="Tecnicas" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Campeonatos" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="CinturonNegro">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tecnica_Directa" type="xs:string"/>
                        <xs:element name="Tecnica_Circulares" type="xs:string"/>
                        <xs:element name="Tecnica_Pierna" type="xs:string"/>
                        <xs:element name="Teoria" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>




            <xs:element name="CinturonNegroPrimerDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tecnica_Directa" type="xs:string"/>
                        <xs:element name="Tecnica_Pierna" type="xs:string"/>
                        <xs:element name="Tecnica_DirectaIndirecta" type="xs:string"/>
                        <xs:element name="Tecnica_Combinada" type="xs:string"/>
                        <xs:element name="Teoria" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Aplicación_Tecnica" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="CinturonNegroSegundoDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tecnica_Base" type="xs:string"/>
                        <xs:element name="Tecnica_Directa" type="xs:string"/>
                        <xs:element name="Tecnica_DirectaIndirecta" type="xs:string"/>
                        <xs:element name="Tecnica_Pierna" type="xs:string"/>
                        <xs:element name="Tecnica_Combinada" type="xs:string"/>
                        <xs:element name="Teoria" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Campeonatos" type="xs:string"/>
                        <xs:element name="Tecnicas" type="xs:string"/>
                        <xs:element name="Aplicación_Tecnica" type="xs:string"/>
                        <xs:element name="Demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="CinturonNegroTercerDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Variaciones_Tecnica" type="xs:string"/>
                        <xs:element name="Teoria" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Campeonatos" type="xs:string"/>
                        <xs:element name="Tecnicas" type="xs:string"/>
                        <xs:element name="Aplicaciones" type="xs:string"/>
                        <xs:element name="Aplicacion_Tecnica" type="xs:string"/>
                        <xs:element name="Demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="CinturonNegroCuartoDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Coloquio" type="xs:string"/>
                        <xs:element name="Aplicacion_Tecnica" type="xs:string"/>
                        <xs:element name="Demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>





</xs:schema>