examenddl.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

            <xsd:element name="examen" type="tipoexamen" />
                <xsd:complexType name="tipoexamen">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer" maxOccurs="unbounded"/>

                    </xsd:sequence>
                </xsd:complexType>



            <xsd:element name="resultados" type="tiporesultado"/>
                <xsd:complexType name="tiporesultado">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer" maxOccurs="unbounded"/>
                    </xsd:sequence>   
                </xsd:complexType>
            




           <xsd:element name="aspirante" type="tipoaspirante"/>

                <xsd:complexType name="tipoaspirante">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="apellidos" type="xsd:string"/>
                        <xsd:element name="DNI" type="xsd:string"/>
                        <xsd:element name="telefono" type="xsd:string"/>
                        <xsd:element name="direccion" type="xsd:string"/>
                        <xsd:element name="fechanacimiento" type="xsd:string"/>
                        <xsd:element name="Dan" type="xsd:string"/>
                        <xsd:element name="cinturon" type="xsd:string"/>
                        <xsd:element name="fecha_ingreso_Dan" type="xsd:string"/>
                        <xsd:element name="fotoAspirante" type="xsd:string"/>
                        <xsd:element name="tiempo_Dan_Anterior" type="xsd:string"/>
                        <xsd:element name="fotoDNI" type="xsd:string"/>
                        <xsd:element name="fotoCarnetGrados" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            <xsd:element name="meritos" type="tipomeritos"/>
                <xsd:complexType name="tipomeritos">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                        <xsd:element name="edad_aspirante" type="xsd:integer"/>
                        <xsd:element name="licenciaActualizada" type="xsd:boolean"/>
                        <xsd:element name="trabajoEscrito" type="xsd:boolean"/>
                    </xsd:sequence>
                 </xsd:complexType>
           



            <xsd:element name="convalidacion_Grados" type="tipoconvalidacion"/>
                <xsd:complexType name="tipoconvalidacion">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            <xsd:element name="requisitosAspirantes" type="tiporequisitos"/>
                <xsd:complexType name="tiporequisitos">
                    <xsd:sequence>
                        <xsd:element name="solicitudHasta3Dan" type="xsd:boolean"/>
                        <xsd:element name="danySuperiorCurriculum" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
                  



            <xsd:element name="dispensaMedica" type="tipodispensa"/>
                <xsd:complexType name="tipodispensa">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
           



            <xsd:element name="jueces" type="tipojueces"/>
                <xsd:complexType name="tipojueces"> 
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="apellidos" type="xsd:string"/>
                        <xsd:element name="diplomaJuez" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            <xsd:element name="criterio_Valoracion" type="tipocriterio"/>
                <xsd:complexType name="tipocriterio"> 
                    <xsd:sequence>
                        <xsd:element name="indumentaria" type="xsd:integer"/>
                        <xsd:element name="aseoPersonal" type="xsd:integer"/>
                        <xsd:element name="ejecucionTecnica" type="xsd:integer"/>
                        <xsd:element name="valores" type="xsd:integer"/>
                        <xsd:element name="respuestas" type="xsd:integer"/>
                    </xsd:sequence>
                 </xsd:complexType>
            
        
        
        
            <xsd:element name="tribunal" type="tipotribunal"/>
                <xsd:complexType name="tipotribunal">
                    <xsd:sequence>
                        <xsd:element name="numerojueces" type="xsd:integer"/>
                        <xsd:element name="calificacion_final" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
           



            <xsd:element name="abonarCuota" type="tipoabonar"/>
                <xsd:complexType name="tipoabonar">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
          



            <xsd:element name="suspenderExamen" type="tiposuspender"/>
                <xsd:complexType name="tiposuspender">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                        <xsd:element name="suspenderParcial" type="xsd:boolean"/>
                        <xsd:element name="suspenderTotal" type="xsd:boolean"/>
                        <xsd:element name="suspenderSegundaFase" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
           



            <xsd:element name="quintoDanySuperior" type="tipoquintodan"/>
                <xsd:complexType name="tipoquintodan">
                    <xsd:sequence>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="coloquio" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            <xsd:element name="hasta3erDan" type="tipohasta3"/>
                <xsd:complexType name="tipohasta3">
                     <xsd:sequence>
                        <xsd:element name="tecnicas" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="campeonatos" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            <xsd:element name="cinturonNegro" type="tipocinturonnegro"/>
                <xsd:complexType name="tipocinturonnegro">
                    <xsd:sequence>
                        <xsd:element name="tecnica_Directa" type="xsd:string"/>
                        <xsd:element name="tecnica_Circulares" type="xsd:string"/>
                        <xsd:element name="tecnica_Pierna" type="xsd:string"/>
                        <xsd:element name="teoria" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
           



            <xsd:element name="cinturonNegroPrimerDan" type="tipocinturonnegro1dan"/>
                <xsd:complexType name="tipocinturonnegro1dan">
                    <xsd:sequence>
                        <xsd:element name="tecnica_Directa" type="xsd:string"/>
                        <xsd:element name="tecnica_Pierna" type="xsd:string"/>
                        <xsd:element name="tecnica_DirectaIndirecta" type="xsd:string"/>
                        <xsd:element name="tecnica_Combinada" type="xsd:string"/>
                        <xsd:element name="teoria" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="aplicacion_Tecnica" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            <xsd:element name="cinturonNegroSegundoDan" type="tipocinturonnegro2dan"/>
                <xsd:complexType name="tipocinturonnegro2dan">
                    <xsd:sequence>
                        <xsd:element name="tecnica_Base" type="xsd:string"/>
                        <xsd:element name="tecnica_Directa" type="xsd:string"/>
                        <xsd:element name="tecnica_DirectaIndirecta" type="xsd:string"/>
                        <xsd:element name="tecnica_Pierna" type="xsd:string"/>
                        <xsd:element name="tecnica_Combinada" type="xsd:string"/>
                        <xsd:element name="teoria" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="campeonatos" type="xsd:string"/>
                        <xsd:element name="tecnicas" type="xsd:string"/>
                        <xsd:element name="aplicacion_Tecnica" type="xsd:string"/>
                        <xsd:element name="demo_libre" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            <xsd:element name="cinturonNegroTercerDan" type="tipocinturonnegro3dan"/>
                <xsd:complexType name="tipocinturonnegro3dan">
                    <xsd:sequence>
                        <xsd:element name="variaciones_Tecnica" type="xsd:string"/>
                        <xsd:element name="teoria" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="campeonatos" type="xsd:string"/>
                        <xsd:element name="tecnicas" type="xsd:string"/>
                        <xsd:element name="aplicaciones" type="xsd:string"/>
                        <xsd:element name="aplicacion_Tecnica" type="xsd:string"/>
                        <xsd:element name="demo_libre" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            <xsd:element name="cinturonNegroCuartoDan" type="tipocinturonnegro4dan"/>
                <xsd:complexType name="tipocinturonnegro4dan">
                    <xsd:sequence>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="coloquio" type="xsd:string"/>
                        <xsd:element name="aplicacion_Tecnica" type="xsd:string"/>
                        <xsd:element name="demo_libre" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            

         

</xsd:schema>