examenddl.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com" elementFormDefault="qualified">


            <xs:element name="Resultados">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Id_aspirante" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
            </xs:element>


            <xs:element name="Aspirante">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Id_aspirante" type="xs:integer"/>
                        <xs:element name="Nombres" type="xs:string"/>
                        <xs:element name="Apellidos" type="xs:string"/>
                        <xs:element name="DNI" type="xs:string"/>
                        <xs:element name="Telefono" type="xs:string"/>
                        <xs:element name="Direccion" type="xs:string"/>
                        <xs:element name="Fechanacimiento" type="xs:string"/>
                        <xs:element name="Dan" type="xs:string"/>
                        <xs:element name="Cinturon" type="xs:string"/>
                        <xs:element name="Fecha_ingreso_Dan" type="xs:string"/>
                        <xs:element name="FotoAspirante" type="xs:string"/>
                        <xs:element name="Tiempo_Dan_Anterior" type="xs:string"/>
                        <xs:element name="FotoDNI" type="xs:string"/>
                        <xs:element name="FotoCarnetGrados" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="Meritos">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Id_aspirante" type="xs:integer"/>
                    <xs:element name="Edad_aspirante" type="xs:integer"/>
                    <xs:element name="LicenciaActualizada" type="xs:boolean"/>
                    <xs:element name="TrabajoEscrito" type="xs:boolean"/>
                    </xs:sequence>
                 </xs:complexType>
            </xs:element>



            <xs:element name="Convalidacion_Grados">
            <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Id_aspirante" type="xs:integer"/>
                     </xs:sequence>
            </xs:complexType>
            </xs:element>



            <xs:element name="RequisitosAspirantes">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="SolicitudHasta3Dan" type="xs:boolean"/>
                <xs:element name="D4anySuperiorCurriculum" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            </xs:element>        




            <xs:element name="DispensaMedica">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Id_aspirante" type="xs:integer"/>
                    </xs:sequence>
            </xs:complexType>
            </xs:element>



            <xs:element name="Jueces">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Id_aspirante" type="xs:integer"/>
                    <xs:element name="Nombres" type="xs:string"/>
                    <xs:element name="Apellidos" type="xs:string"/>
                    <xs:element name="DiplomaJuez" type="xs:boolean"/>
                    </xs:sequence>
            </xs:complexType>
            </xs:element>



            <xs:element name="Criterio_Valoracion">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Indumentaria" type="xs:integer"/>
                    <xs:element name="AseoPersonal" type="xs:integer"/>
                    <xs:element name="EjecucionTecnica" type="xs:integer"/>
                    <xs:element name="Valores" type="xs:integer"/>
                    <xs:element name="Respuestas" type="xs:integer"/>
                </xs:sequence>
             </xs:complexType>
            </xs:element>
        
        
        
        
            <xs:element name="Tribunal">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Numerojueces" type="xs:integer"/>
                    <xs:element name="Calificacion_final" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="AbonarCuota">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Id_aspirante" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="SuspenderExamen">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Id_aspirante" type="xs:integer"/>
                        <xs:element name="SuspenderParcial" type="xs:boolean"/>
                        <xs:element name="SuspenderTotal" type="xs:boolean"/>
                        <xs:element name="SuspenderSegundaFase" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="QuintoDanySuperior">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Coloquio" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>





            <xs:element name="Hasta3erDan">
                <xs:complexType>
                     <xs:sequence>
                        <xs:element name="Tecnicas" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Campeonatos" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="CinturonNegro">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tecnica_Directa" type="xs:string"/>
                        <xs:element name="Tecnica_Circulares" type="xs:string"/>
                        <xs:element name="Tecnica_Pierna" type="xs:string"/>
                        <xs:element name="Teoria" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>




            <xs:element name="CinturonNegroPrimerDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tecnica_Directa" type="xs:string"/>
                        <xs:element name="Tecnica_Pierna" type="xs:string"/>
                        <xs:element name="Tecnica_DirectaIndirecta" type="xs:string"/>
                        <xs:element name="Tecnica_Combinada" type="xs:string"/>
                        <xs:element name="Teoria" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Aplicación_Tecnica" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="CinturonNegroSegundoDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Tecnica_Base" type="xs:string"/>
                        <xs:element name="Tecnica_Directa" type="xs:string"/>
                        <xs:element name="Tecnica_DirectaIndirecta" type="xs:string"/>
                        <xs:element name="Tecnica_Pierna" type="xs:string"/>
                        <xs:element name="Tecnica_Combinada" type="xs:string"/>
                        <xs:element name="Teoria" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Campeonatos" type="xs:string"/>
                        <xs:element name="Tecnicas" type="xs:string"/>
                        <xs:element name="Aplicación_Tecnica" type="xs:string"/>
                        <xs:element name="Demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="CinturonNegroTercerDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Variaciones_Tecnica" type="xs:string"/>
                        <xs:element name="Teoria" type="xs:string"/>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Campeonatos" type="xs:string"/>
                        <xs:element name="Tecnicas" type="xs:string"/>
                        <xs:element name="Aplicaciones" type="xs:string"/>
                        <xs:element name="Aplicacion_Tecnica" type="xs:string"/>
                        <xs:element name="Demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="CinturonNegroCuartoDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Kata" type="xs:string"/>
                        <xs:element name="Kumite" type="xs:string"/>
                        <xs:element name="Coloquio" type="xs:string"/>
                        <xs:element name="Aplicacion_Tecnica" type="xs:string"/>
                        <xs:element name="Demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>





</xs:schema>