examenddl.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >

            <xs:element name="examen" type="tipoexamen" />
                <xs:complexType name="tipoexamen">
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer" maxOccurs="unbounded"/>

                    </xs:sequence>
                </xs:complexType>



            <xs:element name="resultados" type="tiporesultado"/>
                <xs:complexType name="tiporesultado">
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer" maxOccurs="unbounded"/>
                    </xs:sequence>   
                </xs:complexType>
            




           <xs:element name="aspirante" type="tipoaspirante"/>

                <xs:complexType name="tipoaspirante">
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer"/>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="apellidos" type="xs:string"/>
                        <xs:element name="DNI" type="xs:string"/>
                        <xs:element name="telefono" type="xs:string"/>
                        <xs:element name="direccion" type="xs:string"/>
                        <xs:element name="fechanacimiento" type="xs:string"/>
                        <xs:element name="Dan" type="xs:string"/>
                        <xs:element name="cinturon" type="xs:string"/>
                        <xs:element name="fecha_ingreso_Dan" type="xs:string"/>
                        <xs:element name="fotoAspirante" type="xs:string"/>
                        <xs:element name="tiempo_Dan_Anterior" type="xs:string"/>
                        <xs:element name="fotoDNI" type="xs:string"/>
                        <xs:element name="fotoCarnetGrados" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            



            <xs:element name="meritos" type="tipomeritos"/>
                <xs:complexType name="tipomeritos">
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer"/>
                        <xs:element name="edad_aspirante" type="xs:integer"/>
                        <xs:element name="licenciaActualizada" type="xs:boolean"/>
                        <xs:element name="trabajoEscrito" type="xs:boolean"/>
                    </xs:sequence>
                 </xs:complexType>
           



            <xs:element name="convalidacion_Grados" type="tipoconvalidacion"/>
                <xs:complexType name="tipoconvalidacion">
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            



            <xs:element name="requisitosAspirantes" type="tiporequisitos"/>
                <xs:complexType name="tiporequisitos">
                    <xs:sequence>
                        <xs:element name="solicitudHasta3Dan" type="xs:boolean"/>
                        <xs:element name="danySuperiorCurriculum" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
                  



            <xs:element name="dispensaMedica" type="tipodispensa"/>
                <xs:complexType name="tipodispensa">
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
           



            <xs:element name="jueces" type="tipojueces"/>
                <xs:complexType name="tipojueces"> 
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer"/>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="apellidos" type="xs:string"/>
                        <xs:element name="diplomaJuez" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            



            <xs:element name="criterio_Valoracion">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="indumentaria" type="xs:integer"/>
                    <xs:element name="aseoPersonal" type="xs:integer"/>
                    <xs:element name="ejecucionTecnica" type="xs:integer"/>
                    <xs:element name="valores" type="xs:integer"/>
                    <xs:element name="respuestas" type="xs:integer"/>
                </xs:sequence>
             </xs:complexType>
            </xs:element>
        
        
        
            <xs:element name="tribunal">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="numerojueces" type="xs:integer"/>
                    <xs:element name="calificacion_final" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="abonarCuota">
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="id_aspirante" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="suspenderExamen">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id_aspirante" type="xs:integer"/>
                        <xs:element name="suspenderParcial" type="xs:boolean"/>
                        <xs:element name="suspenderTotal" type="xs:boolean"/>
                        <xs:element name="suspenderSegundaFase" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="quintoDanySuperior">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="kata" type="xs:string"/>
                        <xs:element name="coloquio" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="hasta3erDan">
                <xs:complexType>
                     <xs:sequence>
                        <xs:element name="tecnicas" type="xs:string"/>
                        <xs:element name="kata" type="xs:string"/>
                        <xs:element name="kumite" type="xs:string"/>
                        <xs:element name="campeonatos" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="cinturonNegro">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tecnica_Directa" type="xs:string"/>
                        <xs:element name="tecnica_Circulares" type="xs:string"/>
                        <xs:element name="tecnica_Pierna" type="xs:string"/>
                        <xs:element name="teoria" type="xs:string"/>
                        <xs:element name="kata" type="xs:string"/>
                        <xs:element name="kumite" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="cinturonNegroPrimerDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tecnica_Directa" type="xs:string"/>
                        <xs:element name="tecnica_Pierna" type="xs:string"/>
                        <xs:element name="tecnica_DirectaIndirecta" type="xs:string"/>
                        <xs:element name="tecnica_Combinada" type="xs:string"/>
                        <xs:element name="teoria" type="xs:string"/>
                        <xs:element name="kata" type="xs:string"/>
                        <xs:element name="kumite" type="xs:string"/>
                        <xs:element name="aplicacion_Tecnica" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="cinturonNegroSegundoDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tecnica_Base" type="xs:string"/>
                        <xs:element name="tecnica_Directa" type="xs:string"/>
                        <xs:element name="tecnica_DirectaIndirecta" type="xs:string"/>
                        <xs:element name="tecnica_Pierna" type="xs:string"/>
                        <xs:element name="tecnica_Combinada" type="xs:string"/>
                        <xs:element name="teoria" type="xs:string"/>
                        <xs:element name="kata" type="xs:string"/>
                        <xs:element name="kumite" type="xs:string"/>
                        <xs:element name="campeonatos" type="xs:string"/>
                        <xs:element name="tecnicas" type="xs:string"/>
                        <xs:element name="aplicacion_Tecnica" type="xs:string"/>
                        <xs:element name="demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="cinturonNegroTercerDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="variaciones_Tecnica" type="xs:string"/>
                        <xs:element name="teoria" type="xs:string"/>
                        <xs:element name="kata" type="xs:string"/>
                        <xs:element name="kumite" type="xs:string"/>
                        <xs:element name="campeonatos" type="xs:string"/>
                        <xs:element name="tecnicas" type="xs:string"/>
                        <xs:element name="aplicaciones" type="xs:string"/>
                        <xs:element name="aplicacion_Tecnica" type="xs:string"/>
                        <xs:element name="demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>



            <xs:element name="cinturonNegroCuartoDan">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="kata" type="xs:string"/>
                        <xs:element name="kumite" type="xs:string"/>
                        <xs:element name="coloquio" type="xs:string"/>
                        <xs:element name="aplicacion_Tecnica" type="xs:string"/>
                        <xs:element name="demo_libre" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

         

</xs:schema>