examenddl.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

            <xsd:element name="examen" type="tipoexamen1" />
                <xsd:complexType name="tipoexamen1">
                    <xsd:sequence>
                        <xsd:element name="examen" type="tipoexamen" maxOccurs="unbounded"/>
                        <xsd:element name="resultados" type="tiporesultado" maxOccurs="unbounded"/>
                        <xsd:element name="aspirante" type="tipoaspirante" maxOccurs="unbounded"/>
                        <xsd:element name="meritos" type="tipomeritos" maxOccurs="unbounded"/>
                        <xsd:element name="convalidacion_grados" type="tipoconvalidacion" maxOccurs="unbounded"/>
                        <xsd:element name="requisitosaspirantes" type="tiporequisitos" maxOccurs="unbounded"/>
                        <xsd:element name="dispensamedica" type="tipodispensa" maxOccurs="unbounded"/>
                        <xsd:element name="jueces" type="tipojueces" maxOccurs="unbounded"/>
                        <xsd:element name="criteriovaloracion" type="tipocriterio" maxOccurs="unbounded"/>
                        <xsd:element name="tribunal" type="tipotribunal" maxOccurs="unbounded"/>
                        <xsd:element name="abonarcuota" type="tipoabonar" maxOccurs="unbounded"/>
                        <xsd:element name="suspenderexamen" type="tiposuspender" maxOccurs="unbounded"/>
                        <xsd:element name="quintodanysuperior" type="tipoquintodan" maxOccurs="unbounded"/>
                        <xsd:element name="hasta3dan" type="tipohasta3" maxOccurs="unbounded"/>
                        <xsd:element name="cinturonnegro" type="tipocinturonnegro" maxOccurs="unbounded"/>
                        <xsd:element name="cinturonNegroPrimerDan" type="tipo1dan" maxOccurs="unbounded"/>
                        <xsd:element name="cinturonNegroSegundoDan" type="tipo2dan" maxOccurs="unbounded"/>
                        <xsd:element name="cinturonNegroTercerDan" type="tipo3dan" maxOccurs="unbounded"/>
                        <xsd:element name="cinturonNegroCuartoDan" type="tipo4dan" maxOccurs="unbounded"/>
                         
                        
                    </xsd:sequence>
                </xsd:complexType>


                <xsd:complexType name="tipoexamen">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer" maxOccurs="unbounded"/>
                    </xsd:sequence>   
                </xsd:complexType>


    
                <xsd:complexType name="tiporesultado">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer" maxOccurs="unbounded"/>
                    </xsd:sequence>   
                </xsd:complexType>
            


                <xsd:complexType name="tipoaspirante">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="apellidos" type="xsd:string"/>
                        <xsd:element name="DNI" type="xsd:string"/>
                        <xsd:element name="telefono" type="xsd:string"/>
                        <xsd:element name="direccion" type="xsd:string"/>
                        <xsd:element name="fechanacimiento" type="xsd:string"/>
                        <xsd:element name="Dan" type="xsd:string"/>
                        <xsd:element name="cinturon" type="xsd:string"/>
                        <xsd:element name="fecha_ingreso_Dan" type="xsd:string"/>
                        <xsd:element name="fotoAspirante" type="xsd:string"/>
                        <xsd:element name="tiempo_Dan_Anterior" type="xsd:string"/>
                        <xsd:element name="fotoDNI" type="xsd:string"/>
                        <xsd:element name="fotoCarnetGrados" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            


                <xsd:complexType name="tipomeritos">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                        <xsd:element name="edad_aspirante" type="xsd:integer"/>
                        <xsd:element name="licenciaActualizada" type="xsd:boolean"/>
                        <xsd:element name="trabajoEscrito" type="xsd:boolean"/>
                    </xsd:sequence>
                 </xsd:complexType>
           


                <xsd:complexType name="tipoconvalidacion">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            


                <xsd:complexType name="tiporequisitos">
                    <xsd:sequence>
                        <xsd:element name="solicitudHasta3Dan" type="xsd:boolean"/>
                        <xsd:element name="danySuperiorCurriculum" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
                  


                <xsd:complexType name="tipodispensa">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
           



            
                <xsd:complexType name="tipojueces"> 
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="apellidos" type="xsd:string"/>
                        <xsd:element name="diplomaJuez" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            


                <xsd:complexType name="tipocriterio"> 
                    <xsd:sequence>
                        <xsd:element name="indumentaria" type="xsd:integer"/>
                        <xsd:element name="aseoPersonal" type="xsd:integer"/>
                        <xsd:element name="ejecucionTecnica" type="xsd:integer"/>
                        <xsd:element name="valores" type="xsd:integer"/>
                        <xsd:element name="respuestas" type="xsd:integer"/>
                    </xsd:sequence>
                 </xsd:complexType>
            
        
        
        
                <xsd:complexType name="tipotribunal">
                    <xsd:sequence>
                        <xsd:element name="numerojueces" type="xsd:integer"/>
                        <xsd:element name="calificacion_final" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
           



            
                <xsd:complexType name="tipoabonar">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
          



                <xsd:complexType name="tiposuspender">
                    <xsd:sequence>
                        <xsd:element name="id_aspirante" type="xsd:integer"/>
                        <xsd:element name="suspenderParcial" type="xsd:boolean"/>
                        <xsd:element name="suspenderTotal" type="xsd:boolean"/>
                        <xsd:element name="suspenderSegundaFase" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
           



                <xsd:complexType name="tipoquintodan">
                    <xsd:sequence>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="coloquio" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            


                <xsd:complexType name="tipohasta3">
                     <xsd:sequence>
                        <xsd:element name="tecnicas" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="campeonatos" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



                <xsd:complexType name="tipocinturonnegro">
                    <xsd:sequence>
                        <xsd:element name="tecnica_Directa" type="xsd:string"/>
                        <xsd:element name="tecnica_Circulares" type="xsd:string"/>
                        <xsd:element name="tecnica_Pierna" type="xsd:string"/>
                        <xsd:element name="teoria" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
           



            
                <xsd:complexType name="tipo1dan">
                    <xsd:sequence>
                        <xsd:element name="tecnica_Directa" type="xsd:string"/>
                        <xsd:element name="tecnica_Pierna" type="xsd:string"/>
                        <xsd:element name="tecnica_DirectaIndirecta" type="xsd:string"/>
                        <xsd:element name="tecnica_Combinada" type="xsd:string"/>
                        <xsd:element name="teoria" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="aplicacion_Tecnica" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



                <xsd:complexType name="tipo2dan">
                    <xsd:sequence>
                        <xsd:element name="tecnica_Base" type="xsd:string"/>
                        <xsd:element name="tecnica_Directa" type="xsd:string"/>
                        <xsd:element name="tecnica_DirectaIndirecta" type="xsd:string"/>
                        <xsd:element name="tecnica_Pierna" type="xsd:string"/>
                        <xsd:element name="tecnica_Combinada" type="xsd:string"/>
                        <xsd:element name="teoria" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="campeonatos" type="xsd:string"/>
                        <xsd:element name="tecnicas" type="xsd:string"/>
                        <xsd:element name="aplicacion_Tecnica" type="xsd:string"/>
                        <xsd:element name="demo_libre" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



            
                <xsd:complexType name="tipo3dan">
                    <xsd:sequence>
                        <xsd:element name="variaciones_Tecnica" type="xsd:string"/>
                        <xsd:element name="teoria" type="xsd:string"/>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="campeonatos" type="xsd:string"/>
                        <xsd:element name="tecnicas" type="xsd:string"/>
                        <xsd:element name="aplicaciones" type="xsd:string"/>
                        <xsd:element name="aplicacion_Tecnica" type="xsd:string"/>
                        <xsd:element name="demo_libre" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            



           
                <xsd:complexType name="tipo4dan">
                    <xsd:sequence>
                        <xsd:element name="kata" type="xsd:string"/>
                        <xsd:element name="kumite" type="xsd:string"/>
                        <xsd:element name="coloquio" type="xsd:string"/>
                        <xsd:element name="aplicacion_Tecnica" type="xsd:string"/>
                        <xsd:element name="demo_libre" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            
</xsd:schema>